@tailwind base;
@tailwind components;
@tailwind utilities;


/* -------------------------------------------------------
   App base styles
-------------------------------------------------------- */

html,
body {
  height: 100%;
  background: var(--background-color);
  color: var(--text-color);
}

body {
  margin: 0;
  font-family: var(--font-sans);
}

/* Consistent box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}